<%- include('../partials/header', { title: blog.title, user }) %>

	<h2>
		<%= blog.title %>
	</h2>
<div>
	<p>
		<small>By:</small>
		<%= blog.author.first_name %>
			<%= blog.author.last_name %>
			<small>
				<a href="mailto:<%= blog.author.email_address %>">
					<%= blog.author.email_address %>
				</a>
			</small>
	</p>
			</div>


			<div>

				<small>Description:</small>
		<p>
			<%= blog.description %>
		</p>
	</div>

	<div>
		<small>Content:</small>
		<p>
			<%= blog.body %>
		</p>
	</div>

	<p><small>Read count:</small>
		<%= blog.read_count %>
	</p>
	<p><small>Estimated reading time:</small>
		<%= blog.reading_time %>
	</p>

	<%- include('../partials/footer') %>